h4{
    color:#09cfcf;
}

.pages{
    background-color: rgb(216, 231, 79);
    margin-left: 2%;
    padding: 1%;
    border-radius: 10px;
    border-width: 5px;
    border-style:outset;
    border-color:black;
    cursor: pointer;
    outline: none;
    font-weight:900;
}