body{
    background-color: rgb(222, 126, 206);
    text-align: center;

}
.pages{
    background-color: rgb(216, 231, 79);
    margin-left: 2%;
    padding: 1%;
    border-radius: 10px;
    border-width: 5px;
    border-style:outset;
    border-color:black;
    cursor: pointer;
    outline: none;
    font-weight:900;
}