#centre{
    text-align: center;
    padding: 30px;
    margin-left: 150px;
    margin-right: 150px;
    background-color: rgb(48, 160, 29);
}

body{
    background: #202020;
    text-align: center;
    color: #afeeee;
    font-size: 22px;
    margin-left: 20%;
    margin-right: 20%;
}

a{
    color: rgb(0, 150, 150);
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(202, 202, 202);
}

ol{
    display: inline-block;
    text-align: left;
}
.img_lucky{
    width: 300px;
    margin-bottom: 30px;
}