
body{
    background: #202020;
    text-align: center;
    color: #e3b272;
    font-size: 21px;
    margin-left: 20%;
    margin-right: 20%;
}

a{
    color: rgb(0, 150, 150);
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(202, 202, 202);
}

ol{
    display: inline-block;
    text-align: left;
}

h4{
    color:#09cfcf;
}

.retour{
    background-color: rgb(79, 117, 231);
    margin-left: 2%;
    padding: 1%;
    border-radius: 10px;
    border-width: 5px;
    border-style:outset;
    border-color:black;
    cursor: pointer;
    outline: none;
    font-weight:900;
}

.pages{
    text-align: center;
    background-color: rgb(216, 231, 79);
    margin-left: 2%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;  
    border-radius: 10px;
    border-width: 5px;
    border-style:outset;
    border-color:black;
    cursor: pointer;
    outline: none;
    font-weight:900;
}

#buttons{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(54, 108, 54);
    border-radius: 10px;
    margin-left: 30%;
    margin-right: 30%;
}

#image{
    width: 100px;
    height: 100px;
    text-align: center;
}

h2{
    color:green;
}