#img_diapo{
  height: 425px;
  margin: auto;
  border-radius: 10px;
}

#diapo{
  text-align: center;
  padding: 30px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 50px;
  background-color: rgb(27, 27, 27);
  border-radius: 70px;
}


.bouttons{
  background-color: rgb(70, 70, 70);
  border-radius: 4px;
  text-align: center;
  padding:10px;
  font-weight:900;
  align-items: center;
  margin: auto;
  color:rgb(175, 175, 175);
  font-size: x-large;
  margin: 10px;
}

.page_centrale{
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}

body{
  background: #656464;
  color: #ff9100;
  font-size: 21px;
  margin:0;
}

h1{
font-family: Arial, Helvetica, sans-serif;
color: rgb(187, 187, 187);
font-weight: bold;
}

h2{
color:rgb(150, 150, 150);
}

h4{
color:#09cfcf;
font-size: 28px;
}

a{
color: rgb(0, 150, 150);
}

ol{
display: inline-block;
text-align: left;
}

ul{
display: inline-block;
text-align: left;
}

.retour{
background-color: rgb(88, 88, 88);
margin-left: 2%;
padding: 1%;
border-radius: 10px;
border-width: 5px;
border-style:outset;
border-color:black;
cursor: pointer;
outline: none;
font-weight:900;
margin-bottom: 2%;
}

.pages{
text-align: center;
background-color: rgb(0, 132, 255);
margin-left: 2%;
margin-top: 10px;
margin-bottom: 10px;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 10px;
padding-top: 10px;  
border-radius: 10px;
border-width: 5px;
border-style:outset;
border-color:black;
cursor: pointer;
outline: none;
font-weight:900;
}

#logo1{
width: 100px;
height: 100px;
margin-left: 47%;
text-align: center;
}
#logo2{
  width: 100px;
  height: 100px;
  text-align: center;
  }

.btn_accueil{
  background-color: #09cfcf;
  border-radius: 20;
  padding:10px;
  margin-left: 10px;
  position: absolute;
  top: 0;
  margin-top: 1%;
}

.bas_page{
  background-color: #27314d;
  padding:2%;
  bottom: 0;
}